extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main
    +alert-success(3000)

    h1(class="mb-4") #{pageTitle}

    .card.mb-3
        .card-header Filter and Search
        .card-body
            .row
                .col-6
                    +filter-status(filterStatus)
                .col-6
                    +search(keyword)
    .card.mb-3
        .card-header Various Criteria Arrangement 
        .card-body
            .row
                .col-4
                    +sort()
    .card.mb-3
        .card-header Catalog
        .card-body
            .row
                .col-8
                    +change-multi(`/${prefixAdmin}/products/change-multi?_method=PATCH`)
                .col-4
                    a(
                        href=`/${prefixAdmin}/products/create`
                        class="btn btn-outline-success"
                    ) + New

            table(
                class="table table-hover table-sm"
                checkbox-multi
            )
                thead
                tr  
                    th  
                        input(type="checkbox" name="checkall")
                    th No.
                    th Image
                    th Title
                    th Price
                    th Position
                    th Status
                    th Action

                tbody
                    if(products.length > 0)
                        each item, index in products
                            tr 
                                td
                                    input(
                                        type="checkbox"
                                        name="id"
                                        value= item.id
                                    )
                                td #{pagination.skip + index + 1}
                                //- td #{pagination.limitItems*(pagination.currentPage - 1) + (index+1)}
                                td
                                    img(
                                        src=item.thumbnail
                                        alt=item.title
                                        width="100px"
                                        height="80px"
                                    )
                                td #{item.title}
                                td #{item.price}$
                                td
                                    input(
                                        type="number"
                                        value=item.position 
                                        style="width: 60px"
                                        min="1"
                                        name="position"
                                    )
                                td
                                    if(item.status == "active")
                                        button(
                                            class="badge badge-success"
                                            button-change-status
                                            data-status= item.status 
                                            data-id= item.id
                                        ) Active
                                    else 
                                        button(
                                            class="badge badge-danger"
                                            button-change-status
                                            data-status= item.status
                                            data-id= item.id
                                        ) Inactive
                                td
                                    a(
                                        class="btn btn-warning btn-sm"
                                        href=`/${prefixAdmin}/products/edit/${item.id}`
                                    ) Edit
                                    button(
                                        class="btn btn-danger btn-sm ml-1"
                                        button-delete
                                        data-id= item.id
                                    ) Remove
                                    a(
                                        href=`/${prefixAdmin}/products/detail/${item.id}`
                                        class="btn btn-secondary btn-sm"
                                    ) Chi tiết
                    else 
                        tr  
                            td(
                                colspan="7"
                                class="text-center"
                                style="color: red"
                            ) Not Found

    form(
        id="form-change-status"
        method="POST"
        action=""
        data-path=`/${prefixAdmin}/products/change-status`
    )
    form(
        id="form-delete-item"
        method="POST"
        action=""
        data-path=`/${prefixAdmin}/products/delete`
    )

    +pagination(pagination)

