include ../mixins/sub-menu.pug

header.header
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        h1(style="color:black") E-Commerce

            .col-5
                form(
                    action="/search"
                    method="GET"
                ) 
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Enter a keyword..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) 
                            <i class="fa-solid fa-magnifying-glass"></i>

            .col-4
                .inner-menu 
                    ul 
                        li
                            a(href="/" style="color:black") Home
                        li(class="sub-menu")
                            - const pathProduct = "/products"
                            a(href="/products" style="color:black") Product
                            if(layoutCategoryProducts)
                                +sub-menu(layoutCategoryProducts, pathProduct)