include ../mixins/sub-menu.pug

header.header
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        h1(style="color:black") E-Commerce

            .col-4
                form(
                    action="/search"
                    method="GET"
                ) 
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Search..."
                            class="form-control no-focus-outline"
                            name="keyword"
                            input-search-item
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="no-focus-outline"
                            btn-search-item
                        ) 
                            <i class="fa-solid fa-magnifying-glass"></i>

            .col-4
                .inner-menu 
                    ul 
                        li
                            a(href="/") Home
                        li(class="sub-menu")
                            - const pathProduct = "/products"
                            a(href="/products") Product
                            if(layoutCategoryProducts)
                                +sub-menu(layoutCategoryProducts, pathProduct)
                        li
                            a(href="/cart") 
                                <i class="fa-solid fa-cart-shopping fa-lg"></i> (#{miniCart ? miniCart.totalQuantity : "0"})
                        if(user)
                            li
                                a(href="/user/logout") Sign out
                        else    
                            li 
                                a(href="/user/login") Sign in
                            li
                                a(href="/user/register") Sign up