.row
    .col-12
        a(
            class="btn btn-primary m-1"
            href="/users/not-friend"
        ) Suggestions
        a(
            class="btn btn-primary m-1"
            href="/users/friends"
        ) All Friends
        a(
            class="btn btn-primary m-1"
            href="/users/request"
        ) Sent Requests
        a(
            class="btn btn-primary m-1"
            href="/users/accept"
        ) Friends Requests