extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3

        include ../../partials/list-btn-users.pug

        .row
            .col-12
                +box-head("Lời mời đã nhận")

        .row(data-users-accept=user.id)
            each user in users
                .col-6(user-id=user.id)
                    div(class="box-user")
                        div(class="inner-avatar")
                            img(
                                src=(user.avatar ? user.avatar : "/images/avatar.png")
                                alt=user.fullName
                            )
                        div(class="inner-info")
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-buttons")
                                button(
                                    class="btn btn-sm btn-primary mr-1"
                                    btn-accept-friend=user.id
                                ) Confirm
                                button(
                                    class="btn btn-sm btn-secondary mr-1"
                                    btn-refuse-friend=user.id
                                ) Remove
                                button(
                                    class="btn btn-sm btn-secondary mr-1"
                                    btn-deleted-friend
                                    disabled
                                ) Removed
                                button(
                                    class="btn btn-sm btn-primary mr-1"
                                    btn-accepted-friend
                                    disabled
                                ) Confirmed



block script
    script( src="/js/users.js")