.sider
    .inner-menu 
        ul 
            li
                a(href=`/${prefixAdmin}/dashboard`) Dashboard 
            li
                a(href=`/${prefixAdmin}/products-category`) Category 
            li 
                a(href=`/${prefixAdmin}/products`) Product
            li
                a(href=`/${prefixAdmin}/roles`) Role Group
            li
                a(href=`/${prefixAdmin}/roles/permissions`) Access Control